<!-- this hidden value carry the map subject from controller use it in javascript api call-->

<input type="hidden" id="areaID" value=@ViewBag.Area />





@{
    string _side_panel_path = "~/Views/Shared/_" + ViewBag.Area + "_side_panel.cshtml";

    Html.RenderPartial(_side_panel_path);

}




        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">@ViewBag.Area</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>



            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                           Base Map
                        </div>
                        <div class="panel-body">
                           
                                
                               

                                <button type="button" class="btn btn-outline btn-success" onclick="location.href = '/localmap/localjusttiles/Santa_Monica/Buildings'">Buildings</button>
                            &nbsp;&nbsp;
                                <button type="button" class="btn btn-outline btn-success" onclick="location.href = '/localmap/localscrollerfulltablemap/Santa_Monica/Parcels'">Parcels</button>
                            &nbsp;&nbsp;
                                <button type="button" class="btn btn-outline btn-success" onclick="location.href = '/localmap/localscrollerfulltablemap/Santa_Monica/Streets'">Streets</button>
                            &nbsp;&nbsp;
                                <button type="button" class="btn btn-outline btn-success" onclick="location.href = '/localmap/localscrollerfulltablemap/Santa_Monica/Speed_Limit'">Speed Limit</button>
                            &nbsp;&nbsp;
                                <button type="button" class="btn btn-outline btn-success" onclick="location.href = '/localmap/localscrollerfulltablemap/Santa_Monica/Streets_Sweeping'">Streets Sweeping</button>



                             
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
            </div>


            <!-- /.row -->
            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Parks & Recreation Map
                        </div>
                        <div class="panel-body">
                            

                               
                                <button type="button" class="btn btn-outline btn-info" onclick="location.href = '/localmap/localsimplemap/Santa_Monica/Bike_Route'">Bike Route</button>

                          

                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>

            </div>



            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            Planning
                        </div>
                        <div class="panel-body">
                            
                                



                                <button type="button" class="btn btn-outline btn-info" onclick="location.href = '/localmap/localclassifycheckboxbuttonmap/Santa_Monica/Zoning'">Zoning [check box button]</button>
                            &nbsp;&nbsp;    
                            <button type="button" class="btn btn-outline btn-info" onclick="location.href = '/localmap/localclassifyradiobuttonmap/Santa_Monica/Zoning'">Zoning [radio button]</button>



                           
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>



            </div>




            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            Permission for use of these proprietary data is granted by the City of Santa Monica. &nbsp; &nbsp; Copyright &copy; @DateTime.Now.Year City of Santa Monica. All Rights Reserved
                        </div>

                        <!--
                <div class="panel-body">
                    <p>



                    </p>
                </div>
                <div class="panel-footer">

                </div>

                    -->
                    </div>
                </div>



            </div>

          


          
            <div class="row">
                
                    <div class="col-lg-12">
                        
                            <p>
                               


                                <ul>
                                    <li style="display:inline;"><a href="#"><i class="fa fa-copyright"></i> @DateTime.Now.Year - TransparentGov </a></li>
                                    &nbsp&nbsp&nbsp&nbsp
                                    <li style="display:inline;"><a href="http://transparentgov.net"><i class="fa fa-windows"></i> .Net</a></li>
                                    &nbsp&nbsp&nbsp&nbsp
                                    <li style="display:inline;"><a href="http://phpmap.transparentgov.net"> PHP</a></li>
                                    &nbsp&nbsp&nbsp&nbsp
                                    <li style="display:inline;"><a href="#"><i class="fa fa-apple"></i> ios</a></li>
                                    &nbsp&nbsp&nbsp&nbsp
                                    <li style="display:inline;"><a href="#"><i class="fa fa-android"></i> Android </a></li>
                                    &nbsp&nbsp&nbsp&nbsp
                                    <li style="display:inline;"><a href="#"> Java </a></li>
                                </ul>

                            </p>
                        
                    </div>


                </div>

                </div>
                <!-- /#page-wrapper -->
                <!-- /#page-wrapper -->
          








            <!-- /#wrapper -->
        </div>


</body>
</html>