


<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Transparent Gov </a>
    </div>


    <!-- Navigation -->
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                
                
                
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" id="addr_txt" class="form-control" placeholder="exp:1966 Harbor Blvd">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="search_addr">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </li>



                <li>
                    <a href="/home/arcgis/googlemap/@ViewBag.Area"> @ViewBag.Area  &nbsp;&nbsp;ArcGIS Server Rest API + &nbsp;<img src="~/images/logo/google-maps-icon.png" alt="" /> </a>
                </li>



                <li>
                    <a href="/arcgis/classifycheckboxbuttonmap/googlemap/Shoreline/Zoning">
                        Zoning [check box button]

                    </a>

                </li>


                <li>
                    <a href="/arcgis/classifyradiobuttonmap/googlemap/Shoreline/Zoning">
                        Zoning [radio button]

                    </a>

                </li>


                <li>
                    <a href="/arcgis/classifycheckboxbuttonmap/googlemap/Shoreline/Land_Use_Comp_Plan">
                        Land Use Comp Plan [check box button]

                    </a>

                </li>


                <li>
                    <a href="/arcgis/classifyradiobuttonmap/googlemap/Shoreline/Land_Use_Comp_Plan">
                        Land Use Comp Plan [radio button]

                    </a>

                </li>


                <li>
                    <a href="/arcgis/scrollerfulltablemap/googlemap/Shoreline/Address_Central">
                        Address Central

                    </a>

                </li>


                <li>
                    <a href="/arcgis/scrollerfulltablemap/googlemap/Shoreline/Tax_Parcel_Central">
                        Tax Parcel Central

                    </a>

                </li>



                <li>
                    <a href="/arcgis/justtiles/googlemap/Shoreline/Buildings">
                        Buildings

                    </a>

                </li>


                <li>
                    <a href="/arcgis/scrollerclienttablemap/googlemap/Shoreline/Park">

                        Park
                    </a>

                </li>


                <li>
                    <a href="/arcgis/simplemap/googlemap/Shoreline/Neighborhood">
                        Neighborhood

                    </a>

                </li>


                <li>
                    <a href="/arcgis/simpleclustermap/googlemap/Shoreline/Monument">
                        Monument

                    </a>

                </li>


                <li>
                    <a href="/arcgis/scrollerclienttablemap/googlemap/Shoreline/Land_Mark">

                        Land Mark
                    </a>

                </li>


                <li>
                    <a href="/arcgis/simplemap/googlemap/Shoreline/Encumbrance">
                        Encumbrance

                    </a>

                </li>



                <li>
                    <a href="/arcgis/simplemap/googlemap/Shoreline/Art">
                        Art

                    </a>

                </li>


                <li>
                    <a href="/arcgis/scrollerfulltablemap/googlemap/Shoreline/Street">
                        Street

                    </a>

                </li>


                <li>
                    <a href="/arcgis/simpleclustermap/googlemap/Shoreline/Street_Light">
                        Street Light

                    </a>

                </li>


                <li>
                    <a href="/arcgis/simplemap/googlemap/Shoreline/Sidewalk">
                        Sidewalk

                    </a>

                </li>


                <li>
                    <a href="/arcgis/scrollerfulltablemap/googlemap/Shoreline/Pavement_Condition">
                        Pavement Condition

                    </a>

                </li>


                <li>
                    <a href="/arcgis/scrollerfulltablemap/googlemap/Shoreline/Pavement">
                        Pavement

                    </a>

                </li>



                <li>
                    <a href="/arcgis/scrollerclienttablemap/googlemap/Shoreline/Intersections">
                        Intersections

                    </a>

                </li>


                <li>
                    <a href="/arcgis/scrollerclienttablemap/googlemap/Shoreline/Guard_Rail">
                        Guard Rail

                    </a>

                </li>


                <li>
                    <a href="/arcgis/scrollerclienttablemap/googlemap/Shoreline/Fence">
                        Fence

                    </a>

                </li>


                <li>
                    <a href="/arcgis/simpleclustermap/googlemap/Shoreline/Curb_Ramp">
                        Curb Ramp

                    </a>

                </li>


                <li>
                    <a href="/arcgis/scrollerclienttablemap/googlemap/Shoreline/Curb">
                        Curb

                    </a>

                </li>


                <li>
                    <a href="/arcgis/scrollerclienttablemap/googlemap/Shoreline/Bridge">
                        Bridge

                    </a>

                </li>



                <li>
                    <a href="/arcgis/simplemap/googlemap/Shoreline/Bike_Facility">
                        Bike Facility

                    </a>

                </li>


                <li>
                    <a href="/arcgis/simplemap/googlemap/Shoreline/Railroad">

                        Railroad
                    </a>

                </li>


                <li>
                    <a href="/arcgis/simplemap/googlemap/Shoreline/Trail">

                        Trail
                    </a>

                </li>


                <li>
                    <a href="/arcgis/simpleclustermap/googlemap/Shoreline/Signal">
                        Signal

                    </a>

                </li>


                <li>
                    <a href="/arcgis/justtiles/googlemap/Shoreline/Crosswalk_Driveways">
                        Crosswalk Driveways

                    </a>

                </li>


                <li> <a href="/arcgis/scrollerclienttablemap/googlemap/Shoreline/Traffic_Cable">Traffic_Cable</a></li>

                <li> <a href="/arcgis/scrollerclienttablemap/googlemap/Shoreline/Traffic_Cam">Traffic_Cam</a></li>

                <li> <a href="/arcgis/scrollerclienttablemap/googlemap/Shoreline/Traffic_Circle">Traffic_Circle</a></li>

                <li> <a href="/arcgis/scrollerclienttablemap/googlemap/Shoreline/Traffic_EV_Device">Traffic_EV_Device</a></li>

                <li> <a href="/arcgis/scrollerclienttablemap/googlemap/Shoreline/Traffic_Flashing_Beacon">Traffic_Flashing_Beacon</a></li>

                <li> <a href="/arcgis/scrollerclienttablemap/googlemap/Shoreline/Traffic_Pave_Striping">Traffic_Pave_Striping</a></li>

                <li> <a href="/arcgis/scrollerclienttablemap/googlemap/Shoreline/Traffic_Ped_Push_Button">Traffic_Ped_Push_Button</a></li>

                <li> <a href="/arcgis/scrollerclienttablemap/googlemap/Shoreline/Traffic_Ped_Signal_Display">Traffic_Ped_Signal_Display</a></li>

                <li> <a href="/arcgis/scrollerclienttablemap/googlemap/Shoreline/Traffic_Radar_Sign">Traffic_Radar_Sign</a></li>

                <li> <a href="/arcgis/scrollerclienttablemap/googlemap/Shoreline/Traffic_School_Flasher">Traffic_School_Flasher</a></li>

                <li> <a href="/arcgis/scrollerclienttablemap/googlemap/Shoreline/Traffic_Signal_Cabinet">Traffic_Signal_Cabinet</a></li>

                <li> <a href="/arcgis/scrollerclienttablemap/googlemap/Shoreline/Traffic_Signal_Head">Traffic_Signal_Head</a></li>

                <li> <a href="/arcgis/scrollerclienttablemap/googlemap/Shoreline/Traffic_Signal_Loop">Traffic_Signal_Loop</a></li>

                <li> <a href="/arcgis/scrollerclienttablemap/googlemap/Shoreline/Traffic_Signalized_Intersection">Traffic_Signalized_Intersection</a></li>

                <li> <a href="/arcgis/scrollerclienttablemap/googlemap/Shoreline/Traffic_Support_Structure">Traffic_Support_Structure</a></li>











            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>


<!-- Page Content -->
<div id="page-wrapper">


    <div class="row">
        <div class="col-lg-12">

            <ol class="breadcrumb">
                <li><a href="/map/index/">Transparent Gov</a></li>

                <li><a href="/map/arcgis/">ArcGIS Server Rest API Home</a></li>

                <li><a href="/home/arcgis/googlemap/@ViewBag.Area">@ViewBag.Area</a></li>
            </ol>


        </div>
        <!-- /.col-lg-12 -->
    </div>
