<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>


<script src="~/Scripts/bootstrap-switch.js"></script>
<link href="~/Content/bootstrap-switch.css" rel="stylesheet" />


<script src="~/Scripts/map_init/openlayers.js"></script>

<script src="~/Scripts/openlayers/justtiles.js"></script>








  <!-- this hidden value carry the map subject from controller use it in javascript api call-->

<input type="hidden" id="areaID" value=@ViewBag.Area />
<input type="hidden" id="subjectID" value=@ViewBag.Subject />
<input type="hidden" id="sidebarID" value=@ViewBag.Side_Bar />




@{
    string _side_panel_path = "~/Views/Shared/openlayers/_" + ViewBag.Side_Bar + "_side_panel.cshtml";

    Html.RenderPartial(_side_panel_path); 
    
    }









    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <div id="title_info"> </div>
                    <img id="ajaxload" src="~/Content/img/devoops_getdata.GIF" alt="Loading ... " style="top: 25px;left: 15px;color:#ebebeb;" />

                </div>
                <!-- /.panel-heading -->

                <div class="panel-body">



                    <div id="map-canvas" style="position: relative;-webkit-border-radius: 0 0 3px 3px;-moz-border-radius: 0 0 3px 3px;border-radius: 0 0 3px 3px;padding: 15px;background: #FCFCFC;height: 800px;"></div>

                    <div id="legend" class="alert alert-warning"></div>


                    <input type="checkbox" name="color_tiles_switch" checked>


                    <div id="info-table">

                    </div>


                </div>
                <!-- /.panel-body -->
                <!-- hr / -->



                <div class="panel-footer">


                    <p>



                    </p>






                </div>



            </div>
            <!-- /.panel -->
        </div>
        <!-- /.row -->
    </div>




    <!-- /#page-wrapper -->
</div>

