<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />


<script src="~/Scripts/map_api/leaflet_GeoSearch/js/l.control.geosearch.js"></script>
<script src="~/Scripts/map_api/leaflet_GeoSearch/js/l.geosearch.provider.openstreetmap.js"></script>
<script src="~/Scripts/map_api/leaflet_GeoSearch/js/l.geosearch.provider.google.js"></script>
<script src="~/Scripts/map_api/leaflet_GeoSearch/js/l.geosearch.provider.esri.js"></script>
<script src="~/Scripts/map_api/leaflet_GeoSearch/js/l.geosearch.provider.bing.js"></script>
<script src="~/Scripts/map_api/leaflet_GeoSearch/js/l.geosearch.provider.nokia.js"></script>
<link href="~/Scripts/map_api/leaflet_GeoSearch/css/l.geosearch.css" rel="stylesheet" />


<script src="~/Scripts/area_boundary/initial_location/initial_location.js"></script>
<script src="~/Scripts/arcgis/map_init/mapbox.js"></script>



<script src="~/Scripts/arcgis/mapbox/classifycheckboxbuttonmap.js"></script>



<link href="~/Scripts/classification/classification_button_style.css" rel="stylesheet" />



<link href="~/Scripts/map_api/leaflet_slider/leaflet-slider.css" rel="stylesheet" />
<script src="~/Scripts/map_api/leaflet_slider/leaflet-slider.js"></script>




  <!-- this hidden value carry the map subject from controller use it in javascript api call-->

<input type="hidden" id="areaID" value=@ViewBag.Area />
<input type="hidden" id="subjectID" value=@ViewBag.Subject />
<input type="hidden" id="sidebarID" value=@ViewBag.Side_Bar />




@{
    string _side_panel_path = "~/Views/Shared/arcgis/mapbox/_" + ViewBag.Side_Bar + "_side_panel.cshtml";

    Html.RenderPartial(_side_panel_path); 
    
    }










    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <div id="title_info"> </div>
                    <img id="ajaxload" src="~/Content/img/devoops_getdata.GIF" alt="Loading ... " style="top: 25px;left: 15px;color:#ebebeb;" />

                </div>
                <!-- /.panel-heading -->

                <div class="panel-body">



                    <div id="map-canvas" style="position: relative;-webkit-border-radius: 0 0 3px 3px;-moz-border-radius: 0 0 3px 3px;border-radius: 0 0 3px 3px;padding: 15px;background: #FCFCFC;height: 800px;"></div>

                    <div id="legend" class="alert alert-warning"></div>


                                        <!-- checkbox button -->


                                        <div id="classification_section" class="well">
                                            
                                            

                                            <!--
                                            <div class="row">

                                                <div class="col-lg-1">
                                                    <input type="checkbox" name="color_tiles_switch" checked>
                                                </div>

                                                <div class="col-lg-2" name="tile_slider" id="tile_slider">

                                                </div>

                                            </div>

                                            <br />

                                             -->


                                            
                                            <div id="classification_buttons" data-toggle="buttons">


                                                
                                                <!-- test
                                                         <label id="label_1" class="btn btn-blue">
                                                                 <input id="checkbox_1" type="checkbox"> KKKKKKKKKKKK
                                                         </label>



                                                         <label id="label_2" class="btn btn-green">
                                                                 <input id="checkbox_2" type="checkbox"> PPPPPPPPPPPPPPPP
                                                         </label>



                                                         <label id="label_3" class="btn btn-red">
                                                                 <input id="checkbox_3" type="checkbox"> OOOOOOOOOOOOOOOOO
                                                         </label>


                                                         <label id="label_4" class="btn btn-gold">
                                                                     <input id="checkbox_4" type="checkbox"> TTTTTTTTTTTTTTT
                                                             </label>

                                             - end test -->


                                            </div>
                                        </div>

                                        <!--  End of checkbox button -->



                    <div id="info-table"></div>

                    <div id="utfgrid_info">  </div>


                </div>
                <!-- /.panel-body -->
                <!-- hr / -->



                <div class="panel-footer">


                    <p>



                    </p>






                </div>



            </div>
            <!-- /.panel -->
        </div>
        <!-- /.row -->
    </div>




    <!-- /#page-wrapper -->
</div>

