

<!---- local DataTables JS must load after Jquery js. Otherwise error   -->


<script src="~/Scripts/jquery.dataTables.js"></script>

<!--  only 1 css, jquery...css or bootstrap.css --> 

<link href="~/Content/jquery.dataTables.css" rel="stylesheet">
     
    

    <!-- bootstrap style 

<script src="~/Scripts/dataTables.bootstrap.js"></script>
<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet">
     
        -->


<!-- our js -->


<script src="~/Scripts/tabledata/tabledata_paged.js"></script>



<input type="hidden" id="subjectID" value=@ViewBag.Subject />
<input type="hidden" id="areaID" value=@ViewBag.Area />









<!-- Page Content -->
<div id="page-wrapper">


    <div class="row">
        <div class="col-lg-12">

            <ol class="breadcrumb">
                <li><a href="/map/index/">TransparentGov</a></li>

                <li><a href="/data/tablelistpaged/@ViewBag.Area">@ViewBag.Area</a></li>
                <li><a href="/data/tablepaged/@ViewBag.Area/@ViewBag.Subject">@ViewBag.Subject</a></li>
            </ol>


        </div>
        <!-- /.col-lg-12 -->
    </div>





    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <div id="title_info"> </div>
                  
                </div>
                <!-- /.panel-heading -->

                <div class="panel-body">
         

                   

                       
                     


                    <div id="tableDiv">
                        

                    </div>


                    <div id="info-table"> </div>


                </div>
                    <!-- /.panel-body -->
                    <!-- hr / -->




