


<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Transparent Gov </a>
    </div>


    <!-- Navigation -->
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" id="addr_txt" class="form-control" placeholder="exp:1966 Harbor Blvd">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="search_addr">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </li>






                <li>
                    <a href="/home/mongodb/googlemap/@ViewBag.Area"> @ViewBag.Area  &nbsp;&nbsp;<img style="height:30px;" src="~/images/logo/mongodb.svg" alt="" /> &nbsp;&nbsp; + &nbsp;&nbsp;<img src="~/images/logo/google-maps-icon.png" alt="" /> </a>
                </li>





                <li>
                    <a href="/mongodb/scrollerfulltablemap/googlemap/city/parcels"> Parcels</a>
                </li>

                <li>
                    <a href="/mongodb/scrollerfulltablemap/googlemap/city/address"> Address</a>
                </li>

                <li>
                    <a href="/mongodb/scrollerfulltablemap/googlemap/city/streets"> Streets</a>
                </li>


                <li>
                    <a href="/mongodb/classifycheckboxbuttonmap/googlemap/city/zoning"> Zoning [check box button]</a>
                </li>


                <li>
                    <a href="/mongodb/classifyradiobuttonmap/googlemap/city/zoning"> Zoning [radio button]</a>
                </li>


                <li>
                    <a href="/mongodb/classifycheckboxbuttonmap/googlemap/city/general_landuse"> General Land Use</a>
                </li>


                <li>
                    <a href="/mongodb/simplemap/googlemap/city/neighbor"> Neighbor</a>
                </li>



                <li>
                    <a href="/mongodb/scrollerclienttablemap/googlemap/city/parks"> Parks</a>
                </li>

                <li>
                    <a href="/mongodb/scrollerclienttablemap/googlemap/city/schools"> Schools</a>
                </li>

                







                <li>
                    <a href="#"> Police Fire <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/mongodb/simplemap/googlemap/city/law_agency">Law agency</a>
                        </li>
                        <li>
                            <a href="/mongodb/simplemap/googlemap/city/law_report_area">Law report area</a>
                        </li>




                        <li>
                            <a href="/mongodb/simplemap/googlemap/city/law_geoproximity">Law geoproximity</a>
                        </li>
                        <li>
                            <a href="/mongodb/simplemap/googlemap/city/law_district">Law district</a>
                        </li>
                        <li>
                            <a href="/mongodb/simplemap/googlemap/city/law_beat">Law beat</a>
                        </li>
                        <li>
                            <a href="/mongodb/simplemap/googlemap/city/fire_station_boundary">Fire station boundary</a>
                        </li>
                        <li>
                            <a href="/mongodb/simplemap/googlemap/city/fire_geoproximity">Fire geoproximity</a>
                        </li>


                        <li>
                            <a href="/mongodb/simplemap/googlemap/city/fire_district">Fire district</a>
                        </li>
                        <li>
                            <a href="/mongodb/simplemap/googlemap/city/fire_agency">Fire agency</a>
                        </li>
                    </ul>

                </li>





            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>


<!-- Page Content -->
<div id="page-wrapper">


    <div class="row">
        <div class="col-lg-12">

            <ol class="breadcrumb">
                <li><a href="/map/index/">Transparent Gov</a></li>

                <li><a href="/map/mongodb/">mongodb Server Rest API Home</a></li>

                <li><a href="/home/mongodb/googlemap/@ViewBag.Area">@ViewBag.Area</a></li>
            </ol>


        </div>
        <!-- /.col-lg-12 -->
    </div>
