
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Transparent Gov </a>
    </div>


    <!-- Navigation -->
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" id="addr_txt" class="form-control" placeholder="exp:700 W Civic Center Dr">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="search_addr">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </li>








                <li>
                    <a href="/map/county/bounds"><i class="fa fa-table fa-fw"></i> County Bounds</a>
                </li>

                <li>
                    <a href="/map/county/address"><i class="fa fa-wrench fa-fw"></i> Address</a>
                </li>

                <li>
                    <a href="/map/county/cities"><i class="fa fa-dashboard fa-fw"></i> Cities</a>
                </li>

                <li>
                    <a href="/map/county/education_facility"><i class="fa fa-table fa-fw"></i> Education Facility </a>
                </li>

                <li>
                    <a href="/map/county/fire_grid"><i class="fa fa-dashboard fa-fw"></i> Fire Grid</a>
                </li>

                <li>
                    <a href="/map/county/fire_stations"><i class="fa fa-files-o fa-fw"></i> Fire Stations</a>
                </li>

                <li>
                    <a href="/map/county/hospitals"><i class="fa fa-wrench fa-fw"></i> Hospitals</a>
                </li>

                <li>
                    <a href="/map/county/hwy_majorrd"><i class="fa fa-dashboard fa-fw"></i> High Way Major Roads</a>
                </li>



                <li>
                    <a href="/map/county/rails"><i class="fa fa-car"></i> Rails</a>
                </li>

                <li>
                    <a href="/map/county/streets"><i class="fa fa-car"></i> Streets</a>
                </li>

                <li>
                    <a href="/map/county/water"><i class="fa fa-table fa-fw"></i> Water</a>
                </li>


            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>



