<!-- this hidden value carry the map subject from controller use it in javascript api call-->

<input type="hidden" id="areaID" value=@ViewBag.Area />





@{
    string _side_panel_path = "~/Views/Shared/arcgis/heremap/_" + ViewBag.Area + "_side_panel.cshtml";

    Html.RenderPartial(_side_panel_path);

}




       



            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            Administrative Base Map
                        </div>
                        <div class="panel-body">
                           
                                
                                <button type="button" class="btn btn-outline btn-success" onclick="location.href = '/heremap/scrollerfulltablemap/city/address'">Address</button>
                            &nbsp;&nbsp;    
                            <button type="button" class="btn btn-outline btn-success" onclick="location.href = '/heremap/scrollerfulltablemap/city/parcels'">Parcels</button>
                            &nbsp;&nbsp;    
                            <button type="button" class="btn btn-outline btn-success"    onclick="location.href = '/heremap/scrollerfulltablemap/city/streets'">Streets</button>


                              
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
            </div>


            <!-- /.row -->
            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Community and Economic Development Map
                        </div>
                        <div class="panel-body">
                            

                               

                                <button type="button" class="btn btn-outline btn-primary" onclick="location.href = '/heremap/classifycheckboxbuttonmap/city/zoning'"> Zoning [check box button]</button>
                            &nbsp;&nbsp;    
                            <button type="button" class="btn btn-outline btn-primary" onclick="location.href = '/heremap/classifyradiobuttonmap/city/zoning'">Zoning [radio button]</button>
                                
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-outline btn-primary" onclick="location.href = '/heremap/classifycheckboxbuttonmap/city/general_landuse'">General Land Use</button>


                            &nbsp;&nbsp;
                                
                                <button type="button" class="btn btn-outline btn-primary" onclick="location.href = '/heremap/simplemap/city/neighbor'">Neighbor</button>

                         

                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>

            </div>



            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            Parks & Recreation Map
                        </div>
                        <div class="panel-body">
                            
                                <button type="button" class="btn btn-outline btn-info" onclick="location.href = '/heremap/scrollerclienttablemap/city/parks'">Parks</button>

                           
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>



            </div>


            
            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            School Education
                        </div>
                        <div class="panel-body">
                            
                                <button type="button" class="btn btn-outline btn-info" onclick="location.href = '/heremap/scrollerclienttablemap/city/schools'">Schools</button>

                            
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>



            </div>


            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Police Map
                        </div>
                        <div class="panel-body">
                           
                                

                                <button type="button" class="btn btn-outline btn-danger" onclick="location.href = '/heremap/simplemap/city/law_agency'">Law agency</button>
                            &nbsp;&nbsp;<button type="button" class="btn btn-outline btn-danger" onclick="location.href = '/heremap/simplemap/city/law_reportarea'">Law report area</button>
                            &nbsp;&nbsp;<button type="button" class="btn btn-outline btn-danger" onclick="location.href = '/heremap/simplemap/city/law_geoproximity'">Law geoproximity</button>
                            &nbsp;&nbsp; <button type="button" class="btn btn-outline btn-danger" onclick="location.href = '/heremap/simplemap/city/law_district'">Law district</button>
                            &nbsp;&nbsp; <button type="button" class="btn btn-outline btn-danger" onclick="location.href = '/heremap/simplemap/city/law_beat'">Law beat</button>
                               

                          
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>



            </div>



            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                           Fire Map

                        </div>
                        <div class="panel-body">
                          


                                <button type="button" class="btn btn-outline btn-danger" onclick="location.href = '/heremap/simplemap/city/fire_station_boundary'">Fire station boundary</button>
                            &nbsp;&nbsp;<button type="button" class="btn btn-outline btn-danger" onclick="location.href = '/heremap/simplemap/city/fire_geoproximity'">Fire geoproximity</button>
                            &nbsp;&nbsp;<button type="button" class="btn btn-outline btn-danger" onclick="location.href = '/heremap/simplemap/city/fire_district'">Fire district</button>
                            &nbsp;&nbsp;<button type="button" class="btn btn-outline btn-danger" onclick="location.href = '/heremap/simplemap/city/fire_agency'">Fire agency</button>

                            
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>



            </div>

          
                </div>
                <!-- /#page-wrapper -->
                <!-- /#page-wrapper -->
          








            <!-- /#wrapper -->
        </div>


</body>
</html>