<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Transparent Gov</title>
    <link href="~/Content/blue/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/blue/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/blue/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/blue/css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/Content/blue/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/blue/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/blue/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/blue/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/blue/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body data-spy="scroll" data-target="#navbar" data-offset="0">
    <header id="header" role="banner">
        <div class="container">
            <div id="navbar" class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="btn btn-warning btn-lg">Transparent Gov Demo </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        
                        <li><a href="#services">Feature</a></li>
                        
                        <li><a href="#pricing">Pricing</a></li>
                        
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header><!--/#header-->
    <section id="main-slider" class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Government Map Online</h1>
                        <p class="lead"></p>
                        
                        <a href="/" class="btn btn-warning btn-lg">Sample Demo</a>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Government Data Document Online</h1>
                        <p class="lead"></p>
                        <a href="/" class="btn btn-warning btn-lg">Sample Demo</a>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
        <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
        <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
    </section><!--/#main-slider-->
    <section id="services">
        <div class="container">
            <div class="box first">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="fa fa-globe"></i>
                            <i class="icon-globe icon-md icon-color1"></i>
                            <h4>Mapping</h4>
                            <p>Browsing and Searching Maps</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-tasks icon-md icon-color2"></i>
                            <h4>Tabular Data</h4>
                            <p>Searching Sorting Tabular Data</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-zoom-out icon-md icon-color3"></i>
                            <h4>Document</h4>
                            <p>Full Text Searching PDF Document</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-building icon-md icon-color4"></i>
                            <h4>Project</h4>
                            <p>Browsing And Searching Ongoing Projects</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-wrench icon-md icon-color5"></i>
                            <h4>Support</h4>
                            <p>Free Support Free Maintenance </p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-user icon-md icon-color6"></i>
                            <h4>GIS Consulting</h4>
                            <p>Free Consulting</p>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#services-->
   
    
   
  



    <section id="pricing">
        <div class="container">
            <div class="box">
                <div class="center">
                    <h2>Pricing</h2>
                    <p class="lead"></p>
                </div><!--/.center-->
                <div class="big-gap"></div>
                <div id="pricing-table" class="row">
                    <div class="col-sm-4">
                        <ul class="plan featured">
                            <li class="plan-name">Initial Setup</li>
                            <li class="plan-price">
                                         $9,999
                               
                            
                            </li>
                            <li>One Time</li>
                            <li>Free Upgrade</li>
                            <li>Free New Feature</li>
                            <li>Free Data Update</li>
                            <li>Free Support</li>
                            <li class="plan-action"><a href="#" class="btn btn-primary btn-lg"><i class="icon-phone-sign"></i> 208-310-0875</a></li>
                        </ul>
                    </div><!--/.col-sm-4-->
                    <div class="col-sm-4">
                        <ul class="plan featured">
                            <li class="plan-name">Customization</li>
                            <li class="plan-price">
                                        $79.99
                            
                            </li>
                            <li>Hour</li>
                            <li>Customized Design</li>
                            <li>Customized Feature</li>
                            <li>Customized Function</li>
                            <li>Free Support</li>
                            <li class="plan-action"><a href="#" class="btn btn-primary btn-lg"><i class="icon-phone-sign"></i> 208-310-0875</a></li>
                        </ul>
                    </div><!--/.col-sm-4-->
                    <div class="col-sm-4">
                        <ul class="plan featured">
                            <li class="plan-name">Cloud Hosting</li>
                            <li class="plan-price">
                                            $499
                            </li>
                            <li>Month</li>
                            <li>Free Consult</li>
                            <li>Free Data Update</li>
                            <li>Free Upgrade</li>
                            <li>Free Support</li>
                            <li class="plan-action"><a href="#" class="btn btn-primary btn-lg"><i class="icon-phone-sign"></i> 208-310-0875</a></li>
                        </ul>
                    </div><!--/.col-sm-4-->
                </div>
            </div>
        </div>
    </section><!--/#pricing-->


    <section id="contact">
        <div class="container">
            <div class="box last">
                <div class="row">
                   
                    <div class="col-sm-12">
                       
                        
                        <h1>Transparent Gov Cross Platform </h1>
                        <div class="row">
                            <div class="col-md-2">
                                <ul class="social">
                                    <li><a href="/"><i class="icon-windows icon-social"></i>.Net</a></li>
                                    
                                   
                                    
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <ul class="social">
                                    <li><a href="http://phpmap.transparentgov.net">PHP</a></li>
                                    
                                    
                                </ul>
                            </div>


                            <div class="col-md-2">
                                <ul class="social">
                                    <li><a href="http://phpmap.transparentgov.net">Java</a></li>
                                    
                                    
                                </ul>
                            </div>

                            <div class="col-md-2">
                                <ul class="social">
                                    <li><a href="#"><i class="icon-apple icon-social"></i>iOS</a></li>


                                </ul>
                            </div>


                            <div class="col-md-2">
                                <ul class="social">
                                    
                                    <li><a href="#"><i class="icon-android icon-social"></i>Android</a></li>

                                </ul>
                            </div>



                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <address>
                                    <!-- strong>TransparentGov.net</strong><br-->
                                     201 N Figueroa St, Suite 608 
                                    Los Angeles, CA 90012<br>
                                    <abbr title="Phone">P:</abbr> 208-310-0875
                                </address>
                            </div>
                        </div>


                    </div><!--/.col-sm-6-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#contact-->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; @DateTime.Now.Year <a target="_blank" href="http://transparentgov.net/" title="TransparentGov">Transparent Gov</a>. All Rights Reserved.
                </div>
               
            </div>
        </div>
    </footer><!--/#footer-->
    <script src="~/Content/blue/js/jquery.js"></script>
    <script src="~/Content/blue/js/bootstrap.min.js"></script>
    <script src="~/Content/blue/js/jquery.isotope.min.js"></script>
    <script src="~/Content/blue/js/jquery.prettyPhoto.js"></script>
    <script src="~/Content/blue/js/main.js"></script>
</body>
</html>