
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.16.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.16.0/mapbox-gl.css' rel='stylesheet' />


<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v1.0.0/mapbox-gl-geocoder.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v1.0.0/mapbox-gl-geocoder.css' type='text/css' />







<script src="~/Scripts/area_boundary/initial_location/initial_location.js"></script>

<script src="~/Scripts/map_init/mapboxgl.js"></script>

<script src="~/Scripts/mapboxgl/singlelayersimplehighlightgeojsonmap.js"></script>








  <!-- this hidden value carry the map subject from controller use it in javascript api call-->

<input type="hidden" id="areaID" value=@ViewBag.Area />
<input type="hidden" id="subjectID" value=@ViewBag.Subject />
<input type="hidden" id="sidebarID" value=@ViewBag.Side_Bar />




@{
    string _side_panel_path = "~/Views/Shared/mapboxgl/_" + ViewBag.Side_Bar + "_side_panel.cshtml";

    Html.RenderPartial(_side_panel_path); 
    
    }










    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <div class="panel-heading">
                   

                    <div id="checkbox_menu">
                        <!--
                        <span class="button-checkbox">
                            <button type="button" class="btn" data-color="primary">Address</button>
                            <input type="checkbox" class="hidden" checked />
                        </span>
                        <span class="button-checkbox">
                            <button type="button" class="btn" data-color="primary">Parcels</button>
                            <input type="checkbox" class="hidden" checked />
                        </span>

                            -->
                    </div>


              <!--       <nav id="menu"></nav>  -->
                    

                    <div id="title_info"> </div>
                    
                   

                </div>
                <!-- /.panel-heading -->

                <div class="panel-body">

                    

                  <!-- <div id="map-canvas" style="position: relative;-webkit-border-radius: 0 0 3px 3px;-moz-border-radius: 0 0 3px 3px;border-radius: 0 0 3px 3px;padding: 15px;background: #FCFCFC;height: 800px;"></div>  --> 
                   
                    <div id="map-canvas" style="position:relative; top:0; bottom:0; width:100%; height: 800px;"></div> 
                    <div id='geocoder-container' style="position: relative;top: 0;width: 100%;margin-top: 10px;"></div>

                    <div id="info-table">

                    </div>


                </div>
                <!-- /.panel-body -->
                <!-- hr / -->



                <div class="panel-footer">


                    <p>



                    </p>






                </div>



            </div>
            <!-- /.panel -->
        </div>
        <!-- /.row -->
    </div>




    <!-- /#page-wrapper -->
</div>

