

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>



<script src="~/Scripts/infobox.js"></script>
<script src="~/Scripts/markerclusterer.js"></script>


<script src="~/Scripts/area_boundary.js"></script>
<script src="~/Scripts/map_init.js"></script>
<script src="~/Scripts/mapcity.js"></script>





<!-- script type="text/javascript" src="<?php echo Config::get('URL'); ?>public/js/googlemapjs.js"></script -->
<!-- webGL layer
<!-- script type="text/javascript" src="<?php echo Config::get('URL'); ?>public/js/gmapgl.js"></script>


<script type="text/javascript" src="<?php echo Config::get('URL'); ?>public/js/CanvasLayer.js"></script>
<script type="text/javascript" src="<?php echo Config::get('URL'); ?>public/js/ShaderProgram.js"></script>
<script type="text/javascript" src="<?php echo Config::get('URL'); ?>public/js/libtess.cat.js"></script>
<script type="text/javascript" src="<?php echo Config::get('URL'); ?>public/js/WebGLLayer.js"></script>
-->
<!-- this hidden value carry the map subject from controller use it in javascript api call-->

<input type="hidden" id="areaID" value=@ViewBag.Area />
<input type="hidden" id="subjectID" value=@ViewBag.Subject />







<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/map/index">Transparent Gov </a>
    </div>


    <!-- Navigation -->
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" id="addr_txt" class="form-control" placeholder="exp:700 W Civic Center Dr">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="search_addr">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </li>








                <li>
                    <a href="/map/county/bounds"><i class="fa fa-table fa-fw"></i> County Bounds</a>
                </li>

                <li>
                    <a href="/map/county/address"><i class="fa fa-wrench fa-fw"></i> Address</a>
                </li>

                <li>
                    <a href="/map/county/cities"><i class="fa fa-dashboard fa-fw"></i> Cities</a>
                </li>

                <li>
                    <a href="/map/county/education_facility"><i class="fa fa-table fa-fw"></i> Education Facility </a>
                </li>

                <li>
                    <a href="/map/county/fire_grid"><i class="fa fa-dashboard fa-fw"></i> Fire Grid</a>
                </li>

                <li>
                    <a href="/map/county/fire_stations"><i class="fa fa-files-o fa-fw"></i> Fire Stations</a>
                </li>

                <li>
                    <a href="/map/county/hospitals"><i class="fa fa-wrench fa-fw"></i> Hospitals</a>
                </li>

                <li>
                    <a href="/map/county/hwy_majorrd"><i class="fa fa-dashboard fa-fw"></i> High Way Major Roads</a>
                </li>



                <li>
                    <a href="/map/county/rails"><i class="fa fa-car"></i> Rails</a>
                </li>

                <li>
                    <a href="/map/county/streets"><i class="fa fa-car"></i> Streets</a>
                </li>

                <li>
                    <a href="/map/county/water"><i class="fa fa-table fa-fw"></i> Water</a>
                </li>


            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>








<!-- Page Content -->
<div id="page-wrapper">


    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">


                <ol class="breadcrumb">
                    <li><a href="/map/">TransparentGov</a></li>

                    <li><a href="/map/county/">County</a></li>
                    <li><a href="@ViewBag.Subject">@ViewBag.Subject</a></li>
                </ol>
            </div>

        </div>
        <!-- /.col-lg-12 -->
    </div>






    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <div id="title_info"> </div>
                    <img id="ajaxload" src="~/Content/img/devoops_getdata.GIF" alt="Loading ... " style="top: 25px;left: 15px;color:#ebebeb;" />

                </div>
                <!-- /.panel-heading -->

                <div class="panel-body">



                    <div id="map-canvas" style="position: relative;-webkit-border-radius: 0 0 3px 3px;-moz-border-radius: 0 0 3px 3px;border-radius: 0 0 3px 3px;padding: 15px;background: #FCFCFC;height: 600px;"></div>

                    <div id="legend" class="alert alert-warning"></div>

                    <div id="info-table">

                    </div>


                </div>
                <!-- /.panel-body -->
                <!-- hr / -->

                <div class="panel-footer">


                    <p>



                    </p>






                </div>



            </div>
            <!-- /.panel -->
        </div>
        <!-- /.row -->
    </div>




    <!-- /#page-wrapper -->
</div>


