


        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><img src="~/images/logo/here-logo.png" alt="" /> Map </h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            Local Maps
                        </div>
                        <div class="panel-body">

                            
                            

                            <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/heremap/Shoreline/'">
                                <img src="~/images/logo/shoreline_logo.jpg" />
                            </button>



                            &nbsp;&nbsp;

                            <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/heremap/Santa_Monica'">
                                <img src="~/images/logo/santa_monica.png" alt="" />
                            </button>



                            &nbsp;&nbsp;



                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/home/heremap/Palo_Alto/'">
                                <img src="~/images/logo/Palo_Alto_logo.png" alt="" />
                            </button>



                            &nbsp;&nbsp;


                            <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/heremap/Newport_Beach'">
                                <img src="~/images/logo/newport_beach.png" alt="" />
                            </button>






                            &nbsp;&nbsp;






                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/home/heremap/New_York'">
                                <img src="~/images/logo/nyc.png" alt="" />
                            </button>

                            &nbsp;&nbsp;


                            <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/heremap/San_Francisco'">
                                <img src="~/images/logo/san_francisco.png" alt="" />
                            </button>

                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-xs btn-outline btn-warning" onclick="location.href = '/home/heremap/Chicago'">
                                <img src="~/images/logo/city-of-chicago-logo.png" alt="" />
                            </button>

                            &nbsp;&nbsp;


                            <button type="button" class="btn btn-xs btn-outline btn-danger" onclick="location.href = '/home/heremap/Los_Angeles'">
                                <img src="~/images/logo/city_of_los_angeles.png" alt="" />
                            </button>


                            &nbsp;&nbsp;



                            <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/heremap/Stockton/'">

                                <img src="~/images/logo/stockton.png" />
                            </button>




                            &nbsp;&nbsp;

                           


                                 <button type="button" class="btn btn-xs btn-outline btn-warning" onclick="location.href = '/home/heremap/Aurora/'">
                                     <img src="~/images/logo/Aurora_logo.png" alt="" />
                                 </button>



                            &nbsp;&nbsp;

                            <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/heremap/Denver/'">
                                <img src="~/images/logo/Denver_logo.png" alt="" />
                            </button>

                            &nbsp;&nbsp;



                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/home/heremap/Seattle'">
                              
                                <img src="~/images/logo/seattle_.png" />
                                
                            </button>


                            &nbsp;&nbsp;

                            <button type="button" title="/Washington_DC" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/heremap/Washington_DC/'">
                                <img src="~/images/logo/washington_dc_logo.png" />

                            </button>


                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/home/heremap/Portland'">


                                <img src="~/images/logo/portland_oregon.png" />

                            </button>




                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/heremap/San_Jose'">

                                <img src="~/images/logo/San_Jose_logo.png" />


                            </button>





                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/heremap/Orlando'">
                                <img src="~/images/logo/orlando_logo.png" />
                               

                            </button>




                            &nbsp;&nbsp;

                           

                            <button type="button" title="City of Bakersfield California" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/heremap/Bakersfield/'">
                                <img src="~/images/logo/Bakersfield_logo.png" alt="" />
                            </button>


                            &nbsp;&nbsp;

                            <button type="button" title="City of Philadelphia" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/heremap/Philadelphia/'">

                                <img src="~/images/logo/philadelphia.png" />
                            </button>


                           


                            &nbsp;&nbsp;

                            <button type="button" title="Baltimore" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/heremap/Baltimore/'">
                                
                                <img src="~/images/logo/baltimore.png" />
                            </button>

                            <!--
                                
                            
                                 <button type="button"  title="Orange County California" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/heremap/county'">

                                <img src="~/images/logo/orange_county.png" />
                            </button>





                            &nbsp;&nbsp;


                           
                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/home/heremap/city'">Sample city</button>

                                 &nbsp;&nbsp;
-->




                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
            </div>





            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Featured Maps
                        </div>
                        <!-- .panel-heading -->
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Zoning Land Use</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <button type="button" class="btn btn-xs btn-outline btn-primary" onclick="location.href = '/heremap/classifycheckboxbuttonmap/Santa_Monica/Zoning'">Santa Monica Zoning [check box button]</button>

                                            &nbsp;&nbsp;
                                            <button type="button" class="btn btn-xs btn-outline btn-primary" onclick="location.href = '/heremap/classifyradiobuttonmap/Santa_Monica/Zoning'">Santa Monica Zoning [radio button]</button>


                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/heremap/classifycheckboxbuttonmap/Palo_Alto/Zoning'">Palo Alto Zoning - check box</button>

                                            &nbsp;&nbsp;
                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/heremap/classifyradiobuttonmap/Palo_Alto/Zoning'">Palo Alto Zoning - radio</button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/heremap/classifycheckboxbuttonmap/Shoreline/Zoning'">Shoreline General Land Use - check box</button>
                                            &nbsp;&nbsp;
                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/heremap/classifyradiobuttonmap/Shoreline/Zoning'">Shoreline General Land Use - radio</button>
                                            &nbsp;&nbsp;



                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Parcels</a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">

                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/heremap/scrollerfulltablemap/Palo_Alto/Parcels'">Palo Alto Parcels</button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-primary" onclick="location.href = '/heremap/scrollerfulltablemap/Newport_Beach/Parcels'">Newport Beach Parcels </button>
                                            &nbsp;&nbsp;
                                            <button type="button" class="btn btn-xs btn-outline btn-primary" onclick="location.href = '/heremap/scrollerfulltablemap/Shoreline/Tax_Parcel_Central'">Shoreline Parcels </button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-primary" onclick="location.href = '/heremap/scrollerfulltablemap/New_York_Manhattan/Zoning'">New York City Manhattan Parcels </button>



                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Address And Streets</a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">


                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/heremap/scrollerfulltablemap/Newport_Beach/Address'"> Address </button>
                                            &nbsp;&nbsp;
               
                                            

                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/heremap/clusterscrollerclienttablemap/Palo_Alto/Addresses'">Cluster Address</button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/heremap/scrollerfulltablemap/Shoreline/Street'"> Shoreline Street</button>
                                            &nbsp;&nbsp;
                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/heremap/simpleclustermap/Shoreline/Street_Light'">Shoreline StreetLight</button>

                                            &nbsp;&nbsp;


                                        </div>
                                    </div>
                                </div>


                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Others</a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse">
                                        <div class="panel-body">


                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/heremap/clusterpagedclienttablemap/county/education_facility'">Point Cluster with paged table[ Education Facility]</button>
                                            &nbsp;&nbsp;
                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/heremap/clusterscrollerclienttablemap/county/fire_stations'">Point Cluster with scroller table [ Fire Stations]</button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/heremap/simpleclustermap/county/fire_stations'">Point Cluster without table [ Fire Stations]</button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/heremap/scrollerclienttablemap/Palo_Alto/Building'">Buildings with table</button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/heremap/justtiles/Shoreline/Buildings'">Buildings without table</button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/heremap/justtiles/Palo_Alto/Right_of_way'">Right of way</button>
                                            &nbsp;&nbsp;


                                            <button type="button" class="btn btn-xs btn-outline btn-info">...</button>

                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>
                        <!-- .panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->






            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Tabular Data
                        </div>
                        <div class="panel-body">
                            <p>


                                


                                <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/data/tablelistscroller/chicago/'">
                                    <img src="~/images/logo/chicago-room.png" alt="" />
                                </button>
                                &nbsp;&nbsp;

                               

                                <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/data/tablelistscroller/san_francisco/'">
                                    <img src="~/images/logo/San-Francisco-Logo.png" alt="" />
                                </button>

                                &nbsp;&nbsp;

                                <button type="button" class="btn btn-xs btn-outline btn-warning" onclick="location.href = '/data/tablelistpaged/new_york/'">
                                    <img src="~/images/logo/new-york.png" alt="" />
                                </button>
                                

                                &nbsp;&nbsp;

                                <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/data/tablelistscroller/denver/'">
                                    <img src="~/images/logo/denver.gif" />
                                    
                                </button>

                                &nbsp;&nbsp;

                                <button type="button" class="btn btn-xs btn-outline btn-warning" onclick="location.href = '/data/tablelistpaged/berkeley/'">

                                    <img src="~/images/logo/berkeley_logo.png" />
                                </button>


                                &nbsp;&nbsp;

                                <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/data/tablelistpaged/baltimore/'">

                                    <img src="~/images/logo/baltimore_logo.png" />
                                </button>


                                &nbsp;&nbsp;

                                <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/data/tablelistpaged/boston/'">
                                    <img src="~/images/logo/boston.png" />
                                </button>



                            </p>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>



            </div>



            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <span>Disclaimer</span>
                        </div>


                        <div class="panel-body">
                            <p>
                                This application may contain and/or utilize information which was originally compiled by individual government agency for governmental purposes.
                                The information may subsequently been modified by entity/entities other than original individual government agency.
                                The original individual government agency make no representation as to the accuracy or usefulness of the information provided by this application or the information's suitability for any purpose and disclaim any liability for omissions or errors that may be contained therein.
                                The public is advised to observe posted signage for compliance with applicable laws and regulations.

                                Permission for use of these proprietary data is granted by the original individual government agency.


                            </p>
                        </div>
                        <div class="panel-footer">

                        </div>


                    </div>
                </div>



            </div>




            <div class="row">

                <div class="col-lg-12">

                    <p>
                        <!--
                        <i class="fa fa-copyright"></i> @DateTime.Now.Year - TransparentGov
                        &nbsp&nbsp&nbsp&nbsp<button type="button" class="btn  btn-outline btn-default btn-xs" onclick="location.href = '/map/index/'"><i class="fa fa-windows"></i> .Net </button>
                        &nbsp&nbsp&nbsp&nbsp<button type="button" class="btn  btn-outline btn-primary btn-xs"><i class="fa fa-qq"></i> PHP </button>
                        &nbsp&nbsp&nbsp&nbsp<button type="button" class="btn  btn-outline btn-success btn-xs"><i class="fa fa-apple"></i> ios </button>
                        &nbsp&nbsp&nbsp&nbsp<button type="button" class="btn  btn-outline btn-info btn-xs"><i class="fa fa-android"></i> Android </button>
                        &nbsp&nbsp&nbsp&nbsp<button type="button" class="btn btn-xs btn-outline btn-warning btn-xs"><i class="fa fa-weibo"></i> Java </button>
                        -->


                        <ul>
                            <li style="display:inline;"><a href="#"> Copyright <i class="fa fa-copyright"></i> @DateTime.Now.Year - TransparentGov </a></li>
                            &nbsp&nbsp&nbsp&nbsp
                            <li style="display:inline;"><a href="http://transparentgov.net"><i class="fa fa-windows"></i> .Net</a></li>
                            &nbsp&nbsp&nbsp&nbsp
                            <li style="display:inline;"><a href="http://phpmap.transparentgov.net"> PHP</a></li>
                            &nbsp&nbsp&nbsp&nbsp
                            <li style="display:inline;"><a href="#"><i class="fa fa-apple"></i> ios</a></li>
                            &nbsp&nbsp&nbsp&nbsp
                            <li style="display:inline;"><a href="#"><i class="fa fa-android"></i> Android </a></li>
                            &nbsp&nbsp&nbsp&nbsp
                            <li style="display:inline;"><a href="#"> Java </a></li>
                        </ul>

                    </p>

                </div>


            </div>

        </div>
        <!-- /#page-wrapper -->
        <!-- /#page-wrapper -->
        <!-- /#wrapper -->
    </div>


</body>
</html>