


        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Google Map  <img src="~/images/logo/google-maps-icon.png" alt="" /> </h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>





            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            Local Maps
                        </div>
                        <div class="panel-body">




                            <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/googlemap/Shoreline/'">
                                <img src="~/images/logo/shoreline_logo.jpg" />
                            </button>



                            &nbsp;&nbsp;

                            <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/googlemap/Santa_Monica'">
                                <img src="~/images/logo/santa_monica.png" alt="" />
                            </button>



                            &nbsp;&nbsp;



                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/home/googlemap/Palo_Alto/'">
                                <img src="~/images/logo/Palo_Alto_logo.png" alt="" />
                            </button>



                            &nbsp;&nbsp;


                            <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/googlemap/Newport_Beach'">
                                <img src="~/images/logo/newport_beach.png" alt="" />
                            </button>






                            &nbsp;&nbsp;






                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/home/googlemap/New_York'">
                                <img src="~/images/logo/nyc.png" alt="" />
                            </button>

                            &nbsp;&nbsp;


                            <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/googlemap/San_Francisco'">
                                <img src="~/images/logo/san_francisco.png" alt="" />
                            </button>

                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-xs btn-outline btn-warning" onclick="location.href = '/home/googlemap/Chicago'">
                                <img src="~/images/logo/city-of-chicago-logo.png" alt="" />
                            </button>

                            &nbsp;&nbsp;


                            <button type="button" class="btn btn-xs btn-outline btn-danger" onclick="location.href = '/home/googlemap/Los_Angeles'">
                                <img src="~/images/logo/city_of_los_angeles.png" alt="" />
                            </button>


                            &nbsp;&nbsp;

<!--

                            <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/googlemap/Stockton/'">

                                <img src="~/images/logo/stockton.png" />
                            </button>




                            &nbsp;&nbsp;




                            <button type="button" class="btn btn-xs btn-outline btn-warning" onclick="location.href = '/home/googlemap/Aurora/'">
                                <img src="~/images/logo/Aurora_logo.png" alt="" />
                            </button>



                            &nbsp;&nbsp;

                            <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/googlemap/Denver/'">
                                <img src="~/images/logo/Denver_logo.png" alt="" />
                            </button>

                            &nbsp;&nbsp;



                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/home/googlemap/Seattle'">

                                <img src="~/images/logo/seattle_.png" />

                            </button>


                            &nbsp;&nbsp;

                            <button type="button" title="/Washington_DC" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/googlemap/Washington_DC/'">
                                <img src="~/images/logo/washington_dc_logo.png" />

                            </button>


                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/home/googlemap/Portland'">


                                <img src="~/images/logo/portland_oregon.png" />

                            </button>




                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/googlemap/San_Jose'">

                                <img src="~/images/logo/San_Jose_logo.png" />


                            </button>





                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/googlemap/Orlando'">
                                <img src="~/images/logo/orlando_logo.png" />


                            </button>




                            &nbsp;&nbsp;

                            

                            <button type="button" title="City of Bakersfield California" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/googlemap/Bakersfield/'">
                                <img src="~/images/logo/Bakersfield_logo.png" alt="" />
                            </button>


                            &nbsp;&nbsp;

                            <button type="button" title="City of Philadelphia" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/googlemap/Philadelphia/'">

                                <img src="~/images/logo/philadelphia.png" />
                            </button>





                            &nbsp;&nbsp;

                            <button type="button" title="Baltimore" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/googlemap/Baltimore/'">

                                <img src="~/images/logo/baltimore.png" />
                            </button>

                            
                                                &nbsp;&nbsp;


                              <button type="button" title="Orange County California" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/googlemap/county'">

                                <img src="~/images/logo/orange_county.png" />
                            </button>





                            &nbsp;&nbsp;



                              <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/home/googlemap/city'">Sample city</button>
                    

                            -->


                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
            </div>




            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Featured Maps
                        </div>
                        <!-- .panel-heading -->
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Zoning Land Use</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <button type="button" class="btn btn-xs btn-outline btn-primary" onclick="location.href = '/googlemap/classifycheckboxbuttonmap/Santa_Monica/Zoning'">Santa Monica Zoning [check box button]</button>

                                            &nbsp;&nbsp;
                                            <button type="button" class="btn btn-xs btn-outline btn-primary" onclick="location.href = '/googlemap/classifyradiobuttonmap/Santa_Monica/Zoning'">Santa Monica Zoning [radio button]</button>


                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/googlemap/classifycheckboxbuttonmap/Palo_Alto/Zoning'">Palo Alto Zoning - check box</button>

                                            &nbsp;&nbsp;
                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/googlemap/classifyradiobuttonmap/Palo_Alto/Zoning'">Palo Alto Zoning - radio</button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/googlemap/classifycheckboxbuttonmap/Shoreline/Zoning'">Shoreline General Land Use - check box</button>
                                            &nbsp;&nbsp;
                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/googlemap/classifyradiobuttonmap/Shoreline/Zoning'">Shoreline General Land Use - radio</button>
                                            &nbsp;&nbsp;



                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Parcels</a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">

                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/googlemap/scrollerfulltablemap/Palo_Alto/Parcels'">Palo Alto Parcels</button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-primary" onclick="location.href = '/googlemap/scrollerfulltablemap/Newport_Beach/Parcels'">Newport Beach Parcels </button>
                                            &nbsp;&nbsp;
                                            <button type="button" class="btn btn-xs btn-outline btn-primary" onclick="location.href = '/googlemap/scrollerfulltablemap/Shoreline/Tax_Parcel_Central'">Shoreline Parcels </button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-primary" onclick="location.href = '/googlemap/scrollerfulltablemap/New_York_Manhattan/Zoning'">New York City Manhattan Parcels </button>



                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Address And Streets</a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">


                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/googlemap/scrollerfulltablemap/Newport_Beach/Address'"> Address </button>
                                            &nbsp;&nbsp;



                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/googlemap/clusterscrollerclienttablemap/Palo_Alto/Addresses'">Cluster Address</button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/googlemap/scrollerfulltablemap/Shoreline/Street'"> Shoreline Street</button>
                                            &nbsp;&nbsp;
                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/googlemap/simpleclustermap/Shoreline/Street_Light'">Shoreline StreetLight</button>

                                            &nbsp;&nbsp;


                                        </div>
                                    </div>
                                </div>


                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Others</a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse">
                                        <div class="panel-body">


                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/googlemap/clusterpagedclienttablemap/county/education_facility'">Point Cluster with paged table[ Education Facility]</button>
                                            &nbsp;&nbsp;
                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/googlemap/clusterscrollerclienttablemap/county/fire_stations'">Point Cluster with scroller table [ Fire Stations]</button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/googlemap/simpleclustermap/county/fire_stations'">Point Cluster without table [ Fire Stations]</button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/googlemap/scrollerclienttablemap/Palo_Alto/Building'">Buildings with table</button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/googlemap/justtiles/Shoreline/Buildings'">Buildings without table</button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/googlemap/justtiles/Palo_Alto/Right_of_way'">Right of way</button>
                                            &nbsp;&nbsp;


                                            <button type="button" class="btn btn-xs btn-outline btn-info">...</button>

                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>
                        <!-- .panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->





          
          