@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TransparentGov - @ViewBag.Subject </title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>


    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>



    <script src="~/Scripts/googlemapjs.js"></script>


    <!-- Bootstrap Core CSS -->
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="~/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery -->
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"></script>





</head>
<body>


    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/map/index">Transparent Gov </a>
            </div>


            <!-- Navigation -->
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <!-- li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            
                        </li -->


                        <li>
                            <a href="#"><i class="fa fa-globe"></i>&nbsp;&nbsp; Product <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#"><i class="fa fa-globe"></i>&nbsp;&nbsp;Maps</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-table"></i>&nbsp;&nbsp;Tabular Data</a>
                                </li>

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>



                        <li>
                            <a href="#"><i class="fa fa-usd"></i>&nbsp;&nbsp; Pricing <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#"><i class="fa fa-road"></i>&nbsp;&nbsp;Initial Setup $5000</a>
                                </li>

                                <li>
                                    <a href="#"><i class="fa fa-wrench"></i>&nbsp;&nbsp;Customize $60/hour</a>
                                </li>

                                <li>
                                    <a href="#"><i class="fa fa-cloud-upload"></i>&nbsp;&nbsp;Cloud Hosting $150/month</a>
                                </li>

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>


                        <li>
                            <a href="#"><i class="fa fa-phone-square"></i>&nbsp;&nbsp; Contact <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#"><i class="fa fa-mobile"></i>&nbsp;&nbsp;208-310-0875</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-envelope"></i>&nbsp;&nbsp;medyhzl@gmail.com</a>
                                </li>

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>



                    </ul>



                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>


        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Gallery</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

 <!--

            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            Maps
                        </div>
                        <div class="panel-body">
                            <p>
                                <button type="button" class="btn btn-outline btn-success" onclick="location.href = '/localmap/localmaponly/chicago/boundary'">Chicago</button>
                                <button type="button" class="btn btn-outline btn-info" onclick="location.href = '/localmap/localmaponly/NewYork'">New York</button>

                                <button type="button" class="btn btn-outline btn-default">Los Angeles</button>
                                <button type="button" class="btn btn-outline btn-primary">Newport Beach</button>
                                <button type="button" class="btn btn-outline btn-success">San Francisco</button>
                                <button type="button" class="btn btn-outline btn-info">Santa Monica</button>
                                <button type="button" class="btn btn-outline btn-warning"></button>
                                <button type="button" class="btn btn-outline btn-danger"></button>

                            </p>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>



            </div>
-->

            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            Maps
                        </div>
                        <div class="panel-body">
                            <p>
                                

                                <button type="button" class="btn btn-outline btn-info">
                                    <img src="~/images/logo/la_county.png" />
                                </button>


                                <button type="button" class="btn btn-outline btn-warning">

                                    <img src="~/images/logo/orange_county.png" />
                                </button>

                                <button type="button" class="btn btn-outline btn-success">
                                    <img src="~/images/logo/santa_monica.jpg" alt="" />
                                </button>


                                    <button type="button" class="btn btn-outline btn-primary">
                                        <img src="~/images/logo/city_of_los_angeles.png" alt="" />
                                    </button>

                                    <button type="button" class="btn btn-outline btn-danger" onclick="location.href = '/localmap/localmaponly/NewYork'">
                                        <img src="~/images/logo/nyc.png" alt="" />
                                    </button>

                                <button type="button" class="btn btn-outline btn-warning">
                                    <img src="~/images/logo/city-of-chicago-logo.png" alt="" />
                                </button>

                                <button type="button" class="btn btn-outline btn-warning">
                                    <img src="~/images/logo/newport_beach.png" alt="" />
                                </button>

                                <button type="button" class="btn btn-outline btn-info">
                                    <img src="~/images/logo/San-Francisco-Logo.png" alt="" />
                                </button>


</p>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
            </div>


            <!-- /.row -->
            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            Featured Maps
                        </div>
                        <div class="panel-body">
                            <p>

                                <button type="button" class="btn btn-outline btn-success" onclick="location.href = '/map/city/address'">20,000+ address point [city address]</button>
                                <button type="button" class="btn btn-outline btn-success" onclick="location.href = '/map/county/address'">860,000+ address point [county address]</button>

                                <button type="button" class="btn btn-outline btn-danger" onclick="location.href = '/map/city/zoning'">Zoning [color polygon]</button>
                                <button type="button" class="btn btn-outline btn-danger" onclick="location.href = '/map/city/general_landuse'">General Land Use [color polygon]</button>

                                <button type="button" class="btn btn-outline btn-primary" onclick="location.href = '/map/county/education_facility'">Point Cluster [County Education Facility]</button>
                                <button type="button" class="btn btn-outline btn-primary" onclick="location.href = '/map/county/fire_stations'">Point Cluster [County Fire Stations]</button>


                                <button type="button" class="btn btn-outline btn-info" onclick="location.href = '/map/county/streets'">332,000+ street lines  [county streets]</button>
                                <button type="button" class="btn btn-outline btn-info" onclick="location.href = '/map/city/streets'">6,000+ street lines  [city streets]</button>


                                <button type="button" class="btn btn-outline btn-warning" onclick="location.href = '/map/city/parcels'">23,000+ parcel polygon  [city parcels]</button>
                                <button type="button" class="btn btn-outline btn-danger"></button>

                            </p>

                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>

            </div>



            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Featured Tabular Data
                        </div>
                        <div class="panel-body">
                            <p>
                                <button type="button" class="btn btn-outline btn-success" onclick="location.href = '/data/tablelistscroller/chicago/'">Chicago Data Portal (scroller)</button>
                                <button type="button" class="btn btn-outline btn-info" onclick="location.href = '/data/tablelistpaged/chicago/'">Chicago Data Portal (paged)</button>

                                <button type="button" class="btn btn-outline btn-default">Los Angeles</button>
                                <button type="button" class="btn btn-outline btn-primary">New York</button>
                                <button type="button" class="btn btn-outline btn-success">San Francisco</button>
                                <button type="button" class="btn btn-outline btn-info"></button>
                                <button type="button" class="btn btn-outline btn-warning"></button>
                                <button type="button" class="btn btn-outline btn-danger"></button>

                            </p>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>



            </div>




            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Tabular Data
                        </div>
                        <div class="panel-body">
                            <p>
                                <button type="button" class="btn btn-outline btn-success" onclick="location.href = '/data/listscroller/chicago/'">
                                    <img src="~/images/logo/city-of-chicago-logo.png" alt="" />
                                </button>


                               
                                <button type="button" class="btn btn-outline btn-danger">
                                    <img src="~/images/logo/city_of_los_angeles.png" alt="" />
                                </button>

                                <button type="button" class="btn btn-outline btn-primary">
                                    <img src="~/images/logo/nyc.png" alt="" />
                                </button>

                                <button type="button" class="btn btn-outline btn-success">
                                    <img src="~/images/logo/San-Francisco-Logo.png" alt="" />
                                </button>

                                <button type="button" class="btn btn-outline btn-info"></button>
                                <button type="button" class="btn btn-outline btn-warning"></button>
                                <button type="button" class="btn btn-outline btn-danger"></button>

                            </p>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>



            </div>



          
            <div class="row">
                
                    <div class="col-lg-12">
                        
                            <p>
                                <!--
                                <i class="fa fa-copyright"></i> @DateTime.Now.Year - TransparentGov 
                                &nbsp&nbsp&nbsp&nbsp<button type="button" class="btn  btn-outline btn-default btn-xs" onclick="location.href = '/map/index/'"><i class="fa fa-windows"></i> .Net </button>
                                &nbsp&nbsp&nbsp&nbsp<button type="button" class="btn  btn-outline btn-primary btn-xs"><i class="fa fa-qq"></i> PHP </button>
                                &nbsp&nbsp&nbsp&nbsp<button type="button" class="btn  btn-outline btn-success btn-xs"><i class="fa fa-apple"></i> ios </button>
                                &nbsp&nbsp&nbsp&nbsp<button type="button" class="btn  btn-outline btn-info btn-xs"><i class="fa fa-android"></i> Android </button>
                                &nbsp&nbsp&nbsp&nbsp<button type="button" class="btn btn-outline btn-warning btn-xs"><i class="fa fa-weibo"></i> Java </button>
                                -->


                                <ul>
                                    <li style="display:inline;"><a href="#"><i class="fa fa-copyright"></i> @DateTime.Now.Year - TransparentGov </a></li>
                                    &nbsp&nbsp&nbsp&nbsp
                                    <li style="display:inline;"><a href="http://transparentgov.net"><i class="fa fa-windows"></i> .Net</a></li>
                                    &nbsp&nbsp&nbsp&nbsp
                                    <li style="display:inline;"><a href="http://phpmap.transparentgov.net"> PHP</a></li>
                                    &nbsp&nbsp&nbsp&nbsp
                                    <li style="display:inline;"><a href="#"><i class="fa fa-apple"></i> ios</a></li>
                                    &nbsp&nbsp&nbsp&nbsp
                                    <li style="display:inline;"><a href="#"><i class="fa fa-android"></i> Android </a></li>
                                    &nbsp&nbsp&nbsp&nbsp
                                    <li style="display:inline;"><a href="#"> Java </a></li>
                                </ul>

                            </p>
                        
                    </div>


                </div>

                </div>
                <!-- /#page-wrapper -->
                <!-- /#page-wrapper -->
          








            <!-- /#wrapper -->
        </div>


</body>
</html>