


        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><img src="~/images/logo/mapbox-logo.png" alt="" /> GL </h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>



          <!--

            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            Local Maps
                        </div>
                        <div class="panel-body">




                            <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mapboxgl/Shoreline/'">
                                <img src="~/images/logo/shoreline_logo.jpg" />
                            </button>



                            &nbsp;&nbsp;

                            <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mapboxgl/Santa_Monica'">
                                <img src="~/images/logo/santa_monica.png" alt="" />
                            </button>



                            &nbsp;&nbsp;



                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/home/mapboxgl/Palo_Alto/'">
                                <img src="~/images/logo/Palo_Alto_logo.png" alt="" />
                            </button>



                            &nbsp;&nbsp;


                            <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mapboxgl/Newport_Beach'">
                                <img src="~/images/logo/newport_beach.png" alt="" />
                            </button>






                            &nbsp;&nbsp;






                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/home/mapboxgl/New_York'">
                                <img src="~/images/logo/nyc.png" alt="" />
                            </button>

                            &nbsp;&nbsp;


                            <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mapboxgl/San_Francisco'">
                                <img src="~/images/logo/san_francisco.png" alt="" />
                            </button>

                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-xs btn-outline btn-warning" onclick="location.href = '/home/mapboxgl/Chicago'">
                                <img src="~/images/logo/city-of-chicago-logo.png" alt="" />
                            </button>

                            &nbsp;&nbsp;


                            <button type="button" class="btn btn-xs btn-outline btn-danger" onclick="location.href = '/home/mapboxgl/Los_Angeles'">
                                <img src="~/images/logo/city_of_los_angeles.png" alt="" />
                            </button>


                            &nbsp;&nbsp;

                            

                                                <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mapboxgl/Stockton/'">

                                                    <img src="~/images/logo/stockton.png" />
                                                </button>




                                                &nbsp;&nbsp;




                                                <button type="button" class="btn btn-xs btn-outline btn-warning" onclick="location.href = '/home/mapboxgl/Aurora/'">
                                                    <img src="~/images/logo/Aurora_logo.png" alt="" />
                                                </button>



                                                &nbsp;&nbsp;

                                                <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mapboxgl/Denver/'">
                                                    <img src="~/images/logo/Denver_logo.png" alt="" />
                                                </button>

                                                &nbsp;&nbsp;



                                                <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/home/mapboxgl/Seattle'">

                                                    <img src="~/images/logo/seattle_.png" />

                                                </button>


                                                &nbsp;&nbsp;

                                                <button type="button" title="/Washington_DC" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mapboxgl/Washington_DC/'">
                                                    <img src="~/images/logo/washington_dc_logo.png" />

                                                </button>


                                                &nbsp;&nbsp;
                                                <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/home/mapboxgl/Portland'">


                                                    <img src="~/images/logo/portland_oregon.png" />

                                                </button>




                                                &nbsp;&nbsp;
                                                <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mapboxgl/San_Jose'">

                                                    <img src="~/images/logo/San_Jose_logo.png" />


                                                </button>





                                                &nbsp;&nbsp;
                                                <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mapboxgl/Orlando'">
                                                    <img src="~/images/logo/orlando_logo.png" />


                                                </button>




                                                &nbsp;&nbsp;



                                                <button type="button" title="City of Bakersfield California" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mapboxgl/Bakersfield/'">
                                                    <img src="~/images/logo/Bakersfield_logo.png" alt="" />
                                                </button>


                                                &nbsp;&nbsp;

                                                <button type="button" title="City of Philadelphia" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mapboxgl/Philadelphia/'">

                                                    <img src="~/images/logo/philadelphia.png" />
                                                </button>





                                                &nbsp;&nbsp;

                                                <button type="button" title="Baltimore" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mapboxgl/Baltimore/'">

                                                    <img src="~/images/logo/baltimore.png" />
                                                </button>


                                                                    &nbsp;&nbsp;


                                                  <button type="button" title="Orange County California" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mapboxgl/county'">

                                                    <img src="~/images/logo/orange_county.png" />
                                                </button>





                                                &nbsp;&nbsp;



                                                  <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/home/mapboxgl/city'">Sample city</button>


                                                


                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>
               
            </div>

            -->


            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Featured Maps
                        </div>
                        <!-- .panel-heading -->
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">




                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Zoning Map</a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse in">
                                        <div class="panel-body">

                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/mapboxgl/classifypolygon2overlay/city/zoning/address/parcels'">Zoning & 2 overlay(parcels, address)</button>
                                            &nbsp;&nbsp;


                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/mapboxgl/classifypolygon1overlay/city/zoning/parcels'">Zoning & 1 overlay(parcels)</button>
                                            &nbsp;&nbsp;


                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/mapboxgl/classifypolygon1overlay/city/zoning/address'">Zoning & 1 overlay(address)</button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/mapboxgl/classifypolygonswitch/city/zoning'">Simple Zoning with switch</button>
                                            &nbsp;&nbsp;


                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/mapboxgl/classifypolygonsimple/city/zoning'">Simple Zoning</button>
                                            &nbsp;&nbsp;




                                        </div>
                                    </div>
                                </div>






                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Multi-layers map</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse">
                                        <div class="panel-body">


                                            Multi-layers Maps with attribute tables

                                            <br />

                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/mapboxgl/multilayerrenderedfeaturepagedtablemap/city/overview'">multi-layer rendered feature paged table map</button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/mapboxgl/multilayersourcefeaturepagedtablemap/city/overview'">multi-layer source feature paged table map</button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/mapboxgl/multilayerrenderedfeaturescrollertablemap/city/overview'">multi-layer rendered feature scroller table map</button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/mapboxgl/multilayersourcefeaturescrollertablemap/city/overview'">multi-layer source feature scroller table map</button>
                                            &nbsp;&nbsp;



                                            <br/>
                                            Multi-layers Maps without attribute table, without highlight feature

                                            <br />

                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/mapboxgl/simplecolormap/city/overview'">Simple Color map</button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/mapboxgl/simplemap/city/overview'"> Simple map</button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/mapboxgl/multilayersimplecolormap/city/overview'">Muilti-layers Simple Color map</button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/mapboxgl/multilayersimplemap/city/overview'">Muilti-layers Simple map</button>
                                            &nbsp;&nbsp;


                                            <br />
                                            Multi-layers Maps without attribute table, with highlight feature

                                            <br/>

                                            
                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/mapboxgl/multilayersimplecolorhighlightgeojsonmap/city/overview'">Muilti-layers Simple Color highlight geojson map</button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/mapboxgl/multilayersimplehighlightgeojsonmap/city/overview'">Muilti-layers Simple highlight geojson map</button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/mapboxgl/multilayersimplecolorhighlightlayermap/city/overview'">Muilti-layers Simple Color highlightlayer map</button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/mapboxgl/multilayersimplehighlightlayermap/city/overview'">Muilti-layers Simple highlightlayer map</button>
                                            &nbsp;&nbsp;

                                            <br />

                                            

                                        </div>
                                    </div>
                                </div>



                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Single-layers map</a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">


                                            Single-layers Maps with  rendered featrue attribute tables

                                            <br />

                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/mapboxgl/singlelayerrenderedfeaturescrollertablehighlightgeojsonmap/city/parcels'">single layer rendered feature scroller table highlight geojson map - polygon</button>
                                            &nbsp;&nbsp;
                                            


                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/mapboxgl/singlelayerrenderedfeaturescrollertablehighlightlayermap/city/parcels'">single layer rendered feature scroller table highlight layer map - polygon</button>
                                            &nbsp;&nbsp;
                                           




                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/mapboxgl/singlelayerrenderedfeaturepagedtablehighlightgeojsonmap/city/parcels'">single layer rendered feature paged table highlight geojson map - polygon</button>
                                            &nbsp;&nbsp;
                                            


                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/mapboxgl/singlelayerrenderedfeaturepagedtablehighlightlayermap/city/parcels'">single layer rendered feature paged table highlight layer map - polygon</button>
                                            &nbsp;&nbsp;
                                            <br />



                                            Single-layers Maps with  source featrue attribute tables

                                            <br />



                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/mapboxgl/singlelayersourcefeaturescrollertablehighlightgeojsonmap/city/parcels'">single layer source feature scroller table highlight geojson map - polygon</button>
                                            &nbsp;&nbsp;
                                           


                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/mapboxgl/singlelayersourcefeaturescrollertablehighlightlayermap/city/parcels'">single layer source feature scroller table highlight layer map - polygon</button>
                                            &nbsp;&nbsp;
                                           




                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/mapboxgl/singlelayersourcefeaturepagedtablehighlightgeojsonmap/city/parcels'">single layer source feature paged table highlight geojson map - polygon</button>
                                            &nbsp;&nbsp;
                                            


                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/mapboxgl/singlelayersourcefeaturepagedtablehighlightlayermap/city/parcels'">single layer source feature paged table highlight layer map - polygon</button>
                                            &nbsp;&nbsp;
                                            <br />

                                            Single layer simple map, no attribute table

                                            <br/>

                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/mapboxgl/singlelayersimplehighlightgeojsonmap/city/streets'">Single layer simple highlight-GEOJSON map - line</button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/mapboxgl/singlelayersimplehighlightgeojsonmap/city/parcels'">Single layer simple highlight-GEOJSON map - polygon</button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/mapboxgl/singlelayersimplehighlightgeojsonmap/city/address'">Single layer simple highlight-GEOJSON map - point</button>
                                            &nbsp;&nbsp;



                                            <button type="button" class="btn btn-xs btn-outline btn-primary" onclick="location.href = '/mapboxgl/singlelayersimplehighlightlayermap/city/streets'">Single layer simple highlight-LAYER map - line </button>
                                            &nbsp;&nbsp;
                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/mapboxgl/singlelayersimplehighlightlayermap/city/parcels'">Single layer simple highlight-LAYER map - polygon</button>
                                            &nbsp;&nbsp;

                                            <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/mapboxgl/singlelayersimplehighlightlayermap/city/address'">Single layer simple highlight-LAYER map - point</button>
                                            &nbsp;&nbsp;


                                            <br />

                                            







                                        </div>
                                    </div>
                                </div>




                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"> More......</a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse">
                                        <div class="panel-body">

                                           


                                           
                                            <button type="button" class="btn btn-xs btn-outline btn-info">...</button>
                                            <button type="button" class="btn btn-xs btn-outline btn-info">...</button>
                                            <button type="button" class="btn btn-xs btn-outline btn-info">...</button>

                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>
                        <!-- .panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->




<!--

            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Tabular Data
                        </div>
                        <div class="panel-body">
                            <p>





                                <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/data/tablelistscroller/chicago/'">
                                    <img src="~/images/logo/chicago-room.png" alt="" />
                                </button>
                                &nbsp;&nbsp;



                                <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/data/tablelistscroller/san_francisco/'">
                                    <img src="~/images/logo/San-Francisco-Logo.png" alt="" />
                                </button>

                                &nbsp;&nbsp;

                                <button type="button" class="btn btn-xs btn-outline btn-warning" onclick="location.href = '/data/tablelistpaged/new_york/'">
                                    <img src="~/images/logo/new-york.png" alt="" />
                                </button>


                                &nbsp;&nbsp;

                                
                                                        <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/data/tablelistscroller/denver/'">
                                                            <img src="~/images/logo/denver.gif" />

                                                        </button>

                                                        &nbsp;&nbsp;

                                                        <button type="button" class="btn btn-xs btn-outline btn-warning" onclick="location.href = '/data/tablelistpaged/berkeley/'">

                                                            <img src="~/images/logo/berkeley_logo.png" />
                                                        </button>


                                                        &nbsp;&nbsp;

                                                        <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/data/tablelistpaged/baltimore/'">

                                                            <img src="~/images/logo/baltimore_logo.png" />
                                                        </button>


                                                        &nbsp;&nbsp;

                                                        <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/data/tablelistpaged/boston/'">
                                                            <img src="~/images/logo/boston.png" />
                                                        </button>

                        

                            </p>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>



            </div>

    -->




            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <span>Disclaimer</span>
                        </div>


                        <div class="panel-body">
                            <p>
                                This application may contain and/or utilize information which was originally compiled by individual government agency for governmental purposes.
                                The information may subsequently been modified by entity/entities other than original individual government agency.
                                The original individual government agency make no representation as to the accuracy or usefulness of the information provided by this application or the information's suitability for any purpose and disclaim any liability for omissions or errors that may be contained therein.
                                The public is advised to observe posted signage for compliance with applicable laws and regulations.

                                Permission for use of these proprietary data is granted by the original individual government agency.


                            </p>
                        </div>
                        <div class="panel-footer">

                        </div>


                    </div>
                </div>



            </div>




          