<!-- Page Content -->
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><img style="height:20px;" src="~/images/logo/mongodb.png" alt="" />  mongodb Server Rest API Backend Hybrid with Web Map Frontend</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>







    <div class="row">

        <div class="col-lg-12">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    Google Maps frontend + mongodb server rest API backend
                </div>
                <div class="panel-body">

                    <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/home/mongodb/googlemap/city'">Sample city</button>
                    &nbsp;&nbsp;




                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/googlemap/Newport_Beach'">
                        <img src="~/images/logo/newport_beach.png" alt="" />
                    </button>




                    &nbsp;&nbsp;


                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/googlemap/Santa_Monica'">
                        <img src="~/images/logo/santa_monica.png" alt="" />
                    </button>



                    &nbsp;&nbsp;



                    <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/home/mongodb/googlemap/Palo_Alto/'">
                        <img src="~/images/logo/Palo_Alto_logo.png" alt="" />
                    </button>



                    &nbsp;&nbsp;





                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/googlemap/Shoreline/'">
                        <img src="~/images/logo/shoreline_logo.jpg" />
                    </button>



                    &nbsp;&nbsp;



                    <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/home/mongodb/googlemap/New_York'">
                        <img src="~/images/logo/nyc.png" alt="" />
                    </button>

                    &nbsp;&nbsp;


                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/googlemap/San_Francisco'">
                        <img src="~/images/logo/san_francisco.png" alt="" />
                    </button>

                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-xs btn-outline btn-warning" onclick="location.href = '/home/mongodb/googlemap/Chicago'">
                        <img src="~/images/logo/city-of-chicago-logo.png" alt="" />
                    </button>

                    &nbsp;&nbsp;


                    <button type="button" class="btn btn-xs btn-outline btn-danger" onclick="location.href = '/home/mongodb/googlemap/Los_Angeles'">
                        <img src="~/images/logo/city_of_los_angeles.png" alt="" />
                    </button>






                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>





    <div class="row">

        <div class="col-lg-12">
            <div class="panel panel-green">
                <div class="panel-heading">
                    Bing Maps frontend + mongodb server rest API backend
                </div>
                <div class="panel-body">


                    <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/home/mongodb/bingmap/city'">Sample city</button>
                    &nbsp;&nbsp;




                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/bingmap/Newport_Beach'">
                        <img src="~/images/logo/newport_beach.png" alt="" />
                    </button>




                    &nbsp;&nbsp;


                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/bingmap/Santa_Monica'">
                        <img src="~/images/logo/santa_monica.png" alt="" />
                    </button>



                    &nbsp;&nbsp;



                    <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/home/mongodb/bingmap/Palo_Alto/'">
                        <img src="~/images/logo/Palo_Alto_logo.png" alt="" />
                    </button>



                    &nbsp;&nbsp;





                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/bingmap/Shoreline/'">
                        <img src="~/images/logo/shoreline_logo.jpg" />
                    </button>



                    &nbsp;&nbsp;



                    <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/home/mongodb/bingmap/New_York'">
                        <img src="~/images/logo/nyc.png" alt="" />
                    </button>

                    &nbsp;&nbsp;


                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/bingmap/San_Francisco'">
                        <img src="~/images/logo/san_francisco.png" alt="" />
                    </button>

                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-xs btn-outline btn-warning" onclick="location.href = '/home/mongodb/bingmap/Chicago'">
                        <img src="~/images/logo/city-of-chicago-logo.png" alt="" />
                    </button>

                    &nbsp;&nbsp;


                    <button type="button" class="btn btn-xs btn-outline btn-danger" onclick="location.href = '/home/mongodb/bingmap/Los_Angeles'">
                        <img src="~/images/logo/city_of_los_angeles.png" alt="" />
                    </button>





                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>




    <div class="row">

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Here Maps frontend + mongodb server rest API backend
                </div>
                <div class="panel-body">

                    <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/home/mongodb/heremap/city'">Sample city</button>
                    &nbsp;&nbsp;




                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/heremap/Newport_Beach'">
                        <img src="~/images/logo/newport_beach.png" alt="" />
                    </button>




                    &nbsp;&nbsp;


                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/heremap/Santa_Monica'">
                        <img src="~/images/logo/santa_monica.png" alt="" />
                    </button>



                    &nbsp;&nbsp;



                    <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/home/mongodb/heremap/Palo_Alto/'">
                        <img src="~/images/logo/Palo_Alto_logo.png" alt="" />
                    </button>



                    &nbsp;&nbsp;





                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/heremap/Shoreline/'">
                        <img src="~/images/logo/shoreline_logo.jpg" />
                    </button>



                    &nbsp;&nbsp;



                    <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/home/mongodb/heremap/New_York'">
                        <img src="~/images/logo/nyc.png" alt="" />
                    </button>

                    &nbsp;&nbsp;


                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/heremap/San_Francisco'">
                        <img src="~/images/logo/san_francisco.png" alt="" />
                    </button>

                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-xs btn-outline btn-warning" onclick="location.href = '/home/mongodb/heremap/Chicago'">
                        <img src="~/images/logo/city-of-chicago-logo.png" alt="" />
                    </button>

                    &nbsp;&nbsp;


                    <button type="button" class="btn btn-xs btn-outline btn-danger" onclick="location.href = '/home/mongodb/heremap/Los_Angeles'">
                        <img src="~/images/logo/city_of_los_angeles.png" alt="" />
                    </button>






                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>





    <div class="row">

        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Leaflet frontend + mongodb server rest API backend
                </div>
                <div class="panel-body">

                    <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/home/mongodb/leaflet/city'">Sample city</button>
                    &nbsp;&nbsp;




                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/leaflet/Newport_Beach'">
                        <img src="~/images/logo/newport_beach.png" alt="" />
                    </button>




                    &nbsp;&nbsp;


                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/leaflet/Santa_Monica'">
                        <img src="~/images/logo/santa_monica.png" alt="" />
                    </button>



                    &nbsp;&nbsp;



                    <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/home/mongodb/leaflet/Palo_Alto/'">
                        <img src="~/images/logo/Palo_Alto_logo.png" alt="" />
                    </button>



                    &nbsp;&nbsp;





                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/leaflet/Shoreline/'">
                        <img src="~/images/logo/shoreline_logo.jpg" />
                    </button>



                    &nbsp;&nbsp;



                    <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/home/mongodb/leaflet/New_York'">
                        <img src="~/images/logo/nyc.png" alt="" />
                    </button>

                    &nbsp;&nbsp;


                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/leaflet/San_Francisco'">
                        <img src="~/images/logo/san_francisco.png" alt="" />
                    </button>

                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-xs btn-outline btn-warning" onclick="location.href = '/home/mongodb/leaflet/Chicago'">
                        <img src="~/images/logo/city-of-chicago-logo.png" alt="" />
                    </button>

                    &nbsp;&nbsp;


                    <button type="button" class="btn btn-xs btn-outline btn-danger" onclick="location.href = '/home/mongodb/leaflet/Los_Angeles'">
                        <img src="~/images/logo/city_of_los_angeles.png" alt="" />
                    </button>






                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>





    <div class="row">

        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Mapbox frontend + mongodb server rest API backend
                </div>
                <div class="panel-body">

                    <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/home/mongodb/mapbox/city'">Sample city</button>
                    &nbsp;&nbsp;




                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/mapbox/Newport_Beach'">
                        <img src="~/images/logo/newport_beach.png" alt="" />
                    </button>




                    &nbsp;&nbsp;


                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/mapbox/Santa_Monica'">
                        <img src="~/images/logo/santa_monica.png" alt="" />
                    </button>



                    &nbsp;&nbsp;



                    <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/home/mongodb/mapbox/Palo_Alto/'">
                        <img src="~/images/logo/Palo_Alto_logo.png" alt="" />
                    </button>



                    &nbsp;&nbsp;





                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/mapbox/Shoreline/'">
                        <img src="~/images/logo/shoreline_logo.jpg" />
                    </button>



                    &nbsp;&nbsp;



                    <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/home/mongodb/mapbox/New_York'">
                        <img src="~/images/logo/nyc.png" alt="" />
                    </button>

                    &nbsp;&nbsp;


                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/mapbox/San_Francisco'">
                        <img src="~/images/logo/san_francisco.png" alt="" />
                    </button>

                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-xs btn-outline btn-warning" onclick="location.href = '/home/mongodb/mapbox/Chicago'">
                        <img src="~/images/logo/city-of-chicago-logo.png" alt="" />
                    </button>

                    &nbsp;&nbsp;


                    <button type="button" class="btn btn-xs btn-outline btn-danger" onclick="location.href = '/home/mongodb/mapbox/Los_Angeles'">
                        <img src="~/images/logo/city_of_los_angeles.png" alt="" />
                    </button>






                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>






    <div class="row">

        <div class="col-lg-12">
            <div class="panel panel-green">
                <div class="panel-heading">
                    MapQuest frontend + mongodb server rest API backend
                </div>
                <div class="panel-body">

                    <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/home/mongodb/mapquest/city'">Sample city</button>
                    &nbsp;&nbsp;




                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/mapquest/Newport_Beach'">
                        <img src="~/images/logo/newport_beach.png" alt="" />
                    </button>




                    &nbsp;&nbsp;


                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/mapquest/Santa_Monica'">
                        <img src="~/images/logo/santa_monica.png" alt="" />
                    </button>



                    &nbsp;&nbsp;



                    <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/home/mongodb/mapquest/Palo_Alto/'">
                        <img src="~/images/logo/Palo_Alto_logo.png" alt="" />
                    </button>



                    &nbsp;&nbsp;





                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/mapquest/Shoreline/'">
                        <img src="~/images/logo/shoreline_logo.jpg" />
                    </button>



                    &nbsp;&nbsp;



                    <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/home/mongodb/mapquest/New_York'">
                        <img src="~/images/logo/nyc.png" alt="" />
                    </button>

                    &nbsp;&nbsp;


                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/mapquest/San_Francisco'">
                        <img src="~/images/logo/san_francisco.png" alt="" />
                    </button>

                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-xs btn-outline btn-warning" onclick="location.href = '/home/mongodb/mapquest/Chicago'">
                        <img src="~/images/logo/city-of-chicago-logo.png" alt="" />
                    </button>

                    &nbsp;&nbsp;


                    <button type="button" class="btn btn-xs btn-outline btn-danger" onclick="location.href = '/home/mongodb/mapquest/Los_Angeles'">
                        <img src="~/images/logo/city_of_los_angeles.png" alt="" />
                    </button>






                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>





    <div class="row">

        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Openlayers frontend + mongodb server rest API backend
                </div>
                <div class="panel-body">

                    <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/home/mongodb/openlayers/city'">Sample city</button>
                    &nbsp;&nbsp;




                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/openlayers/Newport_Beach'">
                        <img src="~/images/logo/newport_beach.png" alt="" />
                    </button>




                    &nbsp;&nbsp;


                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/openlayers/Santa_Monica'">
                        <img src="~/images/logo/santa_monica.png" alt="" />
                    </button>



                    &nbsp;&nbsp;



                    <button type="button" class="btn btn-xs btn-outline btn-success" onclick="location.href = '/home/mongodb/openlayers/Palo_Alto/'">
                        <img src="~/images/logo/Palo_Alto_logo.png" alt="" />
                    </button>



                    &nbsp;&nbsp;





                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/openlayers/Shoreline/'">
                        <img src="~/images/logo/shoreline_logo.jpg" />
                    </button>



                    &nbsp;&nbsp;



                    <button type="button" class="btn btn-xs btn-outline btn-info" onclick="location.href = '/home/mongodb/openlayers/New_York'">
                        <img src="~/images/logo/nyc.png" alt="" />
                    </button>

                    &nbsp;&nbsp;


                    <button type="button" class="btn btn-xs btn-outline btn-default" onclick="location.href = '/home/mongodb/openlayers/San_Francisco'">
                        <img src="~/images/logo/san_francisco.png" alt="" />
                    </button>

                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-xs btn-outline btn-warning" onclick="location.href = '/home/mongodb/openlayers/Chicago'">
                        <img src="~/images/logo/city-of-chicago-logo.png" alt="" />
                    </button>

                    &nbsp;&nbsp;


                    <button type="button" class="btn btn-xs btn-outline btn-danger" onclick="location.href = '/home/mongodb/openlayers/Los_Angeles'">
                        <img src="~/images/logo/city_of_los_angeles.png" alt="" />
                    </button>






                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>









